*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    overflow-x: hidden;
}
.content-1{
display: flex;
justify-content: space-around;
margin-top: 15px;
}
.home{
    display: none;
}
.about{
    display: none;
}
.shop{
    display: none;
}
.start{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    font-weight: normal;
    font-size: 20px;
    color:#000000E6;
    margin-top: 5px;
}
.menu{
    /* padding-left:1px; */
    margin-top: 1px;
    font-size: 35px;
    font-weight:normal;
    color:gray;
    border:1px solid rgb(191,187,187);
    border-radius: 5px;
    padding: 0px 0px;
    margin-bottom: 10px;
    margin-left: 130px;
    /* margin-top: 3px; */

    /* background-color: white; */
}
.container-1{
    background-color: #212529;
    min-width:100vw;
    width:100%;
    /* margin-top: 100px; */
    display: grid;
   padding-top: 100px;
}
.head-1{
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    text-align: center;
    font-size: 35px;
    /* margin-top: 3px; */
}
.para-1{
    text-align: center;
    color: #ffffff80;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    padding-top: 10px;
    margin-left:64px;
    margin-right: 65px;
    margin-bottom:100px ;
}
.container-3{
    display:grid;
    grid-template-columns:auto auto;
    justify-content: center;
    margin-top:100px; 
    row-gap: 50px;
   column-gap: 20px; 

}

.price1{
    position: relative;
    width: 150px;
    height: 380px;
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-top: 100px; */
    /* margin-right: 20px; */
    overflow: hidden;
    border:1px solid rgb(191,187,187);
    /* margin-right:115px; */
}
.image1{
    position: relative;
}
.sale1{
    position: absolute;
    top:0px;
    padding-left: 7px;
    padding-bottom: 2px;
    margin-left: 103px;
    margin-top: 10px;
    border-radius:6px;
    background-color: #212529;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 13px;
    font-weight: bold;
    width: 33px;
}
.price2{
    width: 150px;
    height: 380px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 100px;
    overflow: hidden;
    /* margin-right: 40px; */
    border:1px solid rgb(191,187,187);
}
.span1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    padding-top: 13px;
    /* align-items: center; */
    text-align: center;
    font-size: 23px;
    /* padding: 0px 40px; */
}
.span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    font-size: 23px;
    padding: 13px 40px;
}
.rate1{
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-family: "New Romen" , sans-serif;
    /* padding-left:38px; */
}
.border1{
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.bxs-star{
    margin-top: 3px;
    /* margin-right: 5px; */
    display:flex;
    justify-content: center;
    /* padding-left: 10px;
    letter-spacing: opx; */
    color: gold;
}
#icon{
   display: flex;
   justify-content: center;
}
.border2{
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.del1{
    /* margin-top: 8px; */
    /* padding-left:5px; */
    color:#6c757d;
}
.rate2{
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-family: "New Romen" , sans-serif;
}
/* .container-3{
    display:grid;
    grid-template-columns:auto auto;
    justify-content: center;   
    gap:20px;

} */
.price3{
    width: 150px;
    height: 380px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
    /* margin-right: 40px; */
    border:1px solid rgb(191,187,187);
}
.border3{
    text-align: center;
    margin-top: 90px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.border4{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.rate1{
    display:flex;
    flex-direction:column;
    gap:5px;
   
}
.border5{
    text-align: center;
    margin-top: 90px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
}
.border6{
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
}
.border7{
    text-align: center;
    margin-top: 28px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
}
.border8{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    border:1px solid ;
    border-radius:5px;
    width:70px;
    padding: 6px 14px;
    margin-left: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
}
.container4{
    background-color: #212529;
    padding: 48px 0px;
    margin-top: 100px;
}
.copy{
    font-size: 16px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;text-align: center;
    font-weight: normal;
 
}
  .border1:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 
  .border2:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 

  .border3:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 

  .border4:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 

  .border5:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 

  .border6:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 

  .border7:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 

  .border8:hover{
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  } 


@media only screen and (min-width:768px){
    .content-1{
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
        }
.start{
    font-size: 20px;
    color:#000000E6;
    margin-top: 10px;
   padding-left: 40px;
}
.bx-menu{
    margin-right:40px;
    margin-top: 5px;
}

 /* .container-3{
    display: grid;
    grid-template-columns: auto auto auto;
}  */
.price1{
    position: relative;
    width: 210px;
    height: 345px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    /* margin-right: 20px; */
    overflow: hidden;
    border:1px solid rgb(191,187,187);
    /* margin-right:115px; */
}

.price3{
    width: 220px;
    /* gap: 20px; */
    height: 345px;
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-top: 100px; */
    overflow: hidden;
    /* margin-right: 40px; */
    border:1px solid rgb(191,187,187);
}
.rate1{
    display:flex;
    flex-direction:row;
    gap:5px;
   
}
.rate1{
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-family: "New Romen" , sans-serif;
    /* padding-left:38px; */
}
.span1{
    padding-top: 15px;
}
.sale1{
  width: 33px;
  left: 28%;
  
}
.del1{

        /* margin-top: px; */
        align-items: center;
        padding-left:5px;
        color:#6c757d;
    }
    .container-3{
        display: flex;
        flex-wrap: wrap;
       margin-top: 100px;
    }
    .bxs-star{
        margin-top: 0px;
        display:flex;
        justify-content: center;
        color: gold;
    }
    .span{
        text-align: center;
        font-size: 23px;
        padding: 13px 0px;
    }
    .border1{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
      margin-left: 44px;
    }
    .border2{
        width: 100px;
        padding: 4px 10px;
        margin-left:48px;
        margin-top: 40px;
    }
    .border3{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
        margin-left: 48px;
    }
    .border4{
        width: 100px;
        padding: 4px 10px;
        margin-top: 40px;
        margin-left: 44px;
    }
    .border5{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
        margin-left: 44px;
    }
    .border6{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
        margin-left: 44px;
    }
    .border7{
        width: 100px;
        padding: 4px 10px;
        margin-top: 40px;
        margin-left: 44px;
    }
    .border8{
        width: 100px;
        padding: 4px 10px;
        margin-top: 40px;
        margin-left: 44px;
    }
}

@media only screen and (min-width:1024px){

    .menu{
        display: none;
    }
    .content-1{
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
        }
.start{
    font-size: 20px;
    color:#000000E6;
    margin-top: 10px;
   padding-left: 40px;
}
.bx-menu{
    margin-right:40px;
    margin-top: 5px;
}

 /* .container-3{
    display: grid;
    grid-template-columns: auto auto auto;
}  */
.price1{
    position: relative;
    width: 260px;
    height: 380px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    /* margin-right: 20px; */
    overflow: hidden;
    border:1px solid rgb(191,187,187);
    /* margin-right:115px; */
}

.price3{
    width: 220px;
    /* gap: 20px; */
    height: 345px;
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-top: 100px; */
    overflow: hidden;
    /* margin-right: 40px; */
    border:1px solid rgb(191,187,187);
}
.rate1{
    display:flex;
    flex-direction:row;
    gap:5px;
   
}
.rate1{
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-family: "New Romen" , sans-serif;
    /* padding-left:38px; */
}
.span1{
    padding-top: 15px;
}
.sale1{

  left: 42%;
  
}
.del1{

        /* margin-top: px; */
        align-items: center;
        padding-left:5px;
        color:#6c757d;
    }
   
    .bxs-star{
        margin-top: 0px;
        display:flex;
        justify-content: center;
        color: gold;
    }
    .span{
        text-align: center;
        font-size: 23px;
        padding: 13px 0px;
    }
    .border1{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
      margin-left: 70px;
    }
    .border2{
        width: 100px;
        padding: 4px 10px;
        margin-left:70px;
        margin-top: 43px;
    }
    .border3{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
        margin-left: 70px;
    }
    .border4{
        width: 100px;
        padding: 4px 10px;
        margin-top: 40px;
        margin-left: 70px;
    }
    .border5{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
        margin-left: 70px;
    }
    .border6{
        width: 100px;
        padding: 4px 10px;
        margin-top: 70px;
        margin-left: 70px;
    }
    .border7{
        width: 100px;
        padding: 4px 10px;
        margin-top: 40px;
        margin-left: 70px;
    }
    .border8{
        width: 100px;
        padding: 4px 10px;
        margin-top: 40px;
        margin-left: 70px;
    }




}
@media only screen and (min-width:1440px){
    .container-3{
       display: grid; 
       grid-template-columns: auto auto auto auto;
       margin-top: 100px;
       column-gap: 50px;
       
    }
    .sale1{ 
        left: 42%; 
      }
      .menu{
        display: none;
      }
}
